<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>R.E.S.U.M.E.</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <script id="resumeTemplate" type="text/template">
      <div id="resume">
        <div class="header">
          <h2 class="name"><%= name %></h2>
          <a class="address" href="https://maps.google.com/?q=loc:+<%= address %>"><%= address %></a>
          <a class="email" href="mailto:<%= email %>"><%= email %></a>
          <p class="phone"><%= phone %></p><br/>
          <a class="gh-link" href="https://github.com/<%= username %>">github.com/<%= username %></a>
          <a class="resume-link" href="https://<%= username %>.github.io/resume"><%= username %>.github.io/resume</a>
        </div>
        <% _.each(sections, function(section) { %>
          <div class="section">
            <%= section.sectionTemplate(section) %>
          </div>
        <% }) %>
        <div class="footer">
          Droid Sans and Droid Serif used under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html" id="mini-link">Apache License</a>.
        </div>
      </div>
    </script>
    <script id="genericSectionTemplate" type="text/template">
      <h2 class="section-name"><%= name %></h2>
      <div class="entries">
      <% _.each(entries, function(entry) { %>
        <div class="entry importance<%= entry.importance %>">
          <%= entryTemplate(entry) %>
        </div>
      <% }) %>
      </div>
    </script>

    <script id="genericEntryTemplate" type="text/template">
      <% if (typeof(startYear) !== "undefined") { %>
        <h2 class="duration"><%= formatDuration(startYear, endYear) %></h1>
      <% } else if (typeof(years) !== "undefined") { %>
        <h2 class="duration"><%= years.join(', ') %></h1>
      <% } %>

      <% _.each(keywords, function(keyword) { %>
        <span class="keyword"><%= keyword %></span>
      <% }) %>

      <% if(typeof(moreLink) != "undefined") { %>
        <h1 class="business"><a href="<%= moreLink %>"><%= business %></a></h1>
      <% } else { %>
        <h1 class="business"><%= business %></h1>
      <% } %>
      <% if(typeof(position) != "undefined") { %>
      <h2 class="position"><%= position %></h2>
      <% } %>
      <ul class="features">
      <% _.each(features, function(feature) { %>
        <li class="feature"><%= formatFeature(feature) %></li>
      <% }) %>
      </ul>
    </script>

    <script id="projectsEntryTemplate" type="text/template">
      <% if (typeof(startYear) !== "undefined") { %>
        <h2 class="duration"><%= formatDuration(startYear, endYear) %></h1>
      <% } else if (typeof(years) !== "undefined") { %>
        <h2 class="duration"><%= years.join(', ') %></h1>
      <% } %>

      <% _.each(keywords, function(keyword) { %>
        <span class="keyword"><%= keyword %></span>
      <% }) %>

      <% if(typeof(moreLink) != "undefined") { %>
        <h1 class="business"><a href="<%= moreLink %>"><%= name %></a></h1>
      <% } else { %>
        <h1 class="business"><%= name %></h1>
      <% } %>
      <ul class="features">
      <% _.each(features, function(feature) { %>
        <li class="feature"><%= formatFeature(feature) %></li>
      <% }) %>
      </ul>
    </script>
  </head>
  <body>
    <script src="underscore.js"></script>
    <script src="templates.js"></script>
    <script src="data.js"></script>
    <script src="resume.js"></script>
    <script>
      document.body.innerHTML += resumeTemplate(resume);
    </script>
  </body>
</html>
