<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Experiment in Data Transformation</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <script id="resumeTemplate" type="text/template">
      <div id="resume">
        <div class="header">
          <h2 class="name"><%= name %></h2>
          <a class="address" href="https://maps.google.com/?q=loc:+<%= address %>"><%= address %></a>
          <a class="email" href="mailto:<%= email %>"><%= email %></a>
          <p class="phone"><%= phone %></p>
        </div>
        <% _.each(sections, function(section) { %>
          <div class="section">
            <%= section.sectionTemplate(section) %>
          </div>
        <% }) %>
      </div>
    </script>
    <script id="genericSectionTemplate" type="text/template">
      <h2 class="section-name"><%= name %></h2>
      <div class="entries">
      <% _.each(entries, function(entry) { %>
        <%= entryTemplate(entry) %>
      <% }) %>
      </div>
    </script>

    <script id="genericEntryTemplate" type="text/template">
      <h2 class="duration"><%= duration %></h2>
      <h1 class="business"><%= business %></h1>
      <h2 class="position"><%= position %></h2>
      <ul class="features">
      <% _.each(features, function(feature) { %>
        <li class="feature"><%= feature %></li>
      <% }) %>
      </ul>
    </script>

    <script id="projectsEntryTemplate" type="text/template">
      <h2 class="duration"><%= duration %></h1>
      <h1 class="business"><%= name %></h1>
      <ul class="features">
      <% _.each(features, function(feature) { %>
        <li class="feature"><%= feature %></li>
      <% }) %>
      </ul>
    </script>
  </head>
  <body>
    <script src="underscore.js"></script>
    <script src="templates.js"></script>
    <script src="resume.js"></script>
    <script>
      document.body.innerHTML += resumeTemplate(resume);
    </script>
  </body>
</html>
